$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;

@mixin MediaQuery($type) {
    @if $type == $xs {
        @media screen and (max-width: $xs) {
            @content;
        }
    } @else if $type == $sm {
        @media screen and (max-width: $sm) {
            @content;
        }
    } @else if $type == $md {
        @media screen and (max-width: $md) {
            @content;
        }
    } @else {
        @media screen and (max-width: $lg) {
            @content;
        }
    }
}

$number: 0;
@for $number from 0 to 8 {
    .animation-delay-#{$number} {
        animation-delay: 0.25s * $number;
    }
}
