@mixin square($w-h, $b) {
    width: $w-h;
    height: $w-h;
    border-radius: $b;
}

@mixin outline-border-none {
    outline: none;
    border: none;
}

@mixin absolute-center {
    left: 50%;
    transform: translateX(-50%);
}

@mixin relative-left {
    left: 0;
    transform: translateX(0);
}

@mixin img-background {
    position: absolute;
    width: 100%;
    img {
        width: 100%;
        height: auto;
    }
}
