.carousel {
    position: relative;
}

.carousel-content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include MediaQuery($md) {
        padding-top: 7rem;
    }
}
.carousel-content {
    .half-left-carousel,
    .half-right-carousel {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include MediaQuery($md) {
            width: 100%;
        }
    }
}
.half-left-carousel {
    animation-duration: 1s;
    span {
        color: $logo-color;
        font-weight: 700;
    }
    h2 {
        font-size: 3.75rem;
    }
}

.carousel-background.top {
    top: 0;
    @include img-background;
}
.carousel-background.bottom {
    bottom: 0;
    @include img-background;
}
