footer {
    background-image: url(../img/footer_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: $color-00;
}

.footer-content > div {
    opacity: 0;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.footer-content {
    padding-top: 3rem;
    padding-bottom: 9rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    @include MediaQuery($md) {
        grid-template-columns: 1fr 1fr;
    }
    h3 {
        padding: 3rem 0;
    }
    li {
        margin-bottom: 1rem;
        list-style: none;
    }
    .social-list {
        @include social-list($color-00, $color-01);
        margin-left: -0.5rem;
        ul {
            justify-content: flex-start;
        }
    }
}

.quick-links,
.about {
    li {
        margin: 0;
        padding: 0.5rem 0;
        border-bottom: 2px solid $color-04;
    }
    a {
        text-decoration: none;
        color: $color-00;
        &:hover {
            color: $color-03;
        }
    }
}

.newsletter {
    input {
        @include outline-border-none;
        @include form-style;
        width: 100%;
        padding: 1rem;
        background-color: $logo-color;
        border-color: $color-04;
        border-radius: 1000px;
        text-align: center;
        color: $color-00;
        transition: 0.5s;
        &::placeholder {
            color: $color-00;
        }
        &:focus {
            border-color: $color-00;
        }
    }
    button {
        width: 100%;
        padding: 1rem;
        @include button($logo-color, $color-00);
    }
}
