.form {
    position: relative;
    margin-top: 3rem;
}

.form-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    padding: 2rem 0;
    @include MediaQuery($md) {
        flex-direction: column;
        .half-left-form,
        .half-right-form {
            width: 100%;
        }
    }
}

.half-left-form {
    width: 60%;
    margin: 1rem 0;
    img {
        @include square(100%, 0);
        object-fit: cover;
    }
}

.half-right-form {
    width: 40%;
    margin: 1rem 0;
    .personal-info {
        display: flex;
        justify-content: space-between;
        div {
            width: 49%;
        }
    }
    .pill-form {
        @include form-style;
        border-radius: 1000px;
        span {
            @include form-icon;
        }
        input {
            width: 100%;
            padding-left: 3px;
            @include outline-border-none;
        }
        select {
            width: 100%;
            @include outline-border-none;
        }
    }
    .message {
        @include form-style;
        border-radius: 1rem;
    }
    .message-cover {
        width: 100%;
        display: flex;
        span {
            @include form-icon;
            align-items: flex-start;
        }
        textarea {
            width: 100%;
            padding: 0.25rem;
            @include outline-border-none;
        }
    }
    .send {
        margin-top: 2rem;
        margin-bottom: 3.5rem;
        padding: 1rem 4rem;
        font-weight: 700;
        @include button($color-00, $logo-color);
    }
}
.registered-form {
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    h3 {
        padding: 2rem;
        text-align: center;
        font-size: 2.75rem;
        font-weight: 700;
    }
}

.form-background.bottom {
    bottom: 0;
    @include img-background;
}
