header {
    position: relative;
    z-index: 1002;
    height: 0;
}
header .cover-div {
    width: 100%;
    position: absolute;
    top: 5px;
    background-color: transparent;
    @include absolute-center;
}
header .navbar {
    img {
        @include square(3.75rem, 0);
    }
}

// nav-link
header .navbar .navbar-collapse {
    @include MediaQuery($md) {
        background-color: $color-00;
    }
    .nav-link {
        position: relative;
        margin-right: 1rem;
        color: $color-01;
        font-weight: 700;
        transition: 0.25s;
        &:after {
            @include little-circle(-1rem, 0) {
                @include square(0.75rem, 50%);
                @include absolute-center;
            }
            @include MediaQuery($md) {
                display: none;
            }
        }
        &:hover {
            color: $logo-color;
            &:after {
                opacity: 1;
            }
        }
    }
    .nav-link.active-site {
        &:after {
            opacity: 1;
        }
    }
}
// button
header .navbar .navbar-collapse {
    button {
        padding: 0.5rem 1.5rem;
        margin-right: 1rem;
        @include button($color-00, $logo-color);
    }
}
// social-list
header .navbar .navbar-collapse {
    @include social-list($color-01, $logo-color);
}

.cover-div.navbar-position-fixed {
    position: fixed;
    top: 0;
    background-color: $color-00;
    animation-name: fadeInDown;
    animation-duration: 2s;
    @include relative-left;
}
