.teachers {
    position: relative;
    background-color: $color-02;
}

.teachers-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
    position: relative;
    z-index: 10;
    padding: 1rem 0;
    .item {
        background-color: white;
        border-radius: 1rem;
        overflow: hidden;
        opacity: 0;
        transition: 0.5s;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        &:hover {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }
    @include MediaQuery($md) {
        grid-template-columns: 1fr 1fr;
    }
}

.teacher-img {
    height: 180px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
    }
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.teacher-info {
    padding: 1rem;
    text-align: center;
    span,
    h3,
    p {
        padding-top: 1rem;
    }
    span {
        color: $logo-color;
        font-size: 0.75rem;
        font-weight: 700;
    }
    h3 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 700;
    }
}

.teachers-background.bottom {
    bottom: 0;
    @include img-background;
}
