.animation-delay-0 {
  animation-delay: 0s;
}

.animation-delay-1 {
  animation-delay: 0.25s;
}

.animation-delay-2 {
  animation-delay: 0.5s;
}

.animation-delay-3 {
  animation-delay: 0.75s;
}

.animation-delay-4 {
  animation-delay: 1s;
}

.animation-delay-5 {
  animation-delay: 1.25s;
}

.animation-delay-6 {
  animation-delay: 1.5s;
}

.animation-delay-7 {
  animation-delay: 1.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  z-index: 1002;
  height: 0;
}

header .cover-div {
  width: 100%;
  position: absolute;
  top: 5px;
  background-color: transparent;
  left: 50%;
  transform: translateX(-50%);
}

header .navbar img {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 0;
}

@media screen and (max-width: 991.98px) {
  header .navbar .navbar-collapse {
    background-color: white;
  }
}
header .navbar .navbar-collapse .nav-link {
  position: relative;
  margin-right: 1rem;
  color: black;
  font-weight: 700;
  transition: 0.25s;
}
header .navbar .navbar-collapse .nav-link:after {
  content: "";
  position: absolute;
  bottom: -1rem;
  opacity: 0;
  background-color: #b61984;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}
@media screen and (max-width: 991.98px) {
  header .navbar .navbar-collapse .nav-link:after {
    display: none;
  }
}
header .navbar .navbar-collapse .nav-link:hover {
  color: #b61984;
}
header .navbar .navbar-collapse .nav-link:hover:after {
  opacity: 1;
}
header .navbar .navbar-collapse .nav-link.active-site:after {
  opacity: 1;
}

header .navbar .navbar-collapse button {
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
  border-radius: 1000px;
  box-shadow: 0 0 0 300px #b61984 inset;
  color: white;
  transition: 0.75s;
}
header .navbar .navbar-collapse button:hover {
  box-shadow: 0 0 0 3px #b61984 inset;
  color: #b61984;
}

header .navbar .navbar-collapse ul {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  list-style: none;
}
header .navbar .navbar-collapse ul li {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
header .navbar .navbar-collapse ul a {
  color: black;
  transition: 0.25s;
}
header .navbar .navbar-collapse ul a:hover {
  color: #b61984;
}

.cover-div.navbar-position-fixed {
  position: fixed;
  top: 0;
  background-color: white;
  animation-name: fadeInDown;
  animation-duration: 2s;
  left: 0;
  transform: translateX(0);
}

.carousel {
  position: relative;
}

.carousel-content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media screen and (max-width: 991.98px) {
  .carousel-content {
    padding-top: 7rem;
  }
}

.carousel-content .half-left-carousel,
.carousel-content .half-right-carousel {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 991.98px) {
  .carousel-content .half-left-carousel,
.carousel-content .half-right-carousel {
    width: 100%;
  }
}

.half-left-carousel {
  animation-duration: 1s;
}
.half-left-carousel span {
  color: #b61984;
  font-weight: 700;
}
.half-left-carousel h2 {
  font-size: 3.75rem;
}

.carousel-background.top {
  top: 0;
  position: absolute;
  width: 100%;
}
.carousel-background.top img {
  width: 100%;
  height: auto;
}

.carousel-background.bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
}
.carousel-background.bottom img {
  width: 100%;
  height: auto;
}

.teachers {
  position: relative;
  background-color: #dcd1f0;
}

.teachers-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
  position: relative;
  z-index: 10;
  padding: 1rem 0;
}
.teachers-table .item {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.teachers-table .item:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media screen and (max-width: 991.98px) {
  .teachers-table {
    grid-template-columns: 1fr 1fr;
  }
}

.teacher-img {
  height: 180px;
  overflow: hidden;
}
.teacher-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.teacher-img:hover img {
  transform: scale(1.1);
}

.teacher-info {
  padding: 1rem;
  text-align: center;
}
.teacher-info span,
.teacher-info h3,
.teacher-info p {
  padding-top: 1rem;
}
.teacher-info span {
  color: #b61984;
  font-size: 0.75rem;
  font-weight: 700;
}
.teacher-info h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.teachers-background.bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
}
.teachers-background.bottom img {
  width: 100%;
  height: auto;
}

.form {
  position: relative;
  margin-top: 3rem;
}

.form-content {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  padding: 2rem 0;
}
@media screen and (max-width: 991.98px) {
  .form-content {
    flex-direction: column;
  }
  .form-content .half-left-form,
.form-content .half-right-form {
    width: 100%;
  }
}

.half-left-form {
  width: 60%;
  margin: 1rem 0;
}
.half-left-form img {
  width: 100%;
  height: 100%;
  border-radius: 0;
  object-fit: cover;
}

.half-right-form {
  width: 40%;
  margin: 1rem 0;
}
.half-right-form .personal-info {
  display: flex;
  justify-content: space-between;
}
.half-right-form .personal-info div {
  width: 49%;
}
.half-right-form .pill-form {
  display: flex;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 1000px;
}
.half-right-form .pill-form span {
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.55rem;
  color: #b61984;
}
.half-right-form .pill-form input {
  width: 100%;
  padding-left: 3px;
  outline: none;
  border: none;
}
.half-right-form .pill-form select {
  width: 100%;
  outline: none;
  border: none;
}
.half-right-form .message {
  display: flex;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 1rem;
}
.half-right-form .message-cover {
  width: 100%;
  display: flex;
}
.half-right-form .message-cover span {
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.55rem;
  color: #b61984;
  align-items: flex-start;
}
.half-right-form .message-cover textarea {
  width: 100%;
  padding: 0.25rem;
  outline: none;
  border: none;
}
.half-right-form .send {
  margin-top: 2rem;
  margin-bottom: 3.5rem;
  padding: 1rem 4rem;
  font-weight: 700;
  border-radius: 1000px;
  box-shadow: 0 0 0 300px #b61984 inset;
  color: white;
  transition: 0.75s;
}
.half-right-form .send:hover {
  box-shadow: 0 0 0 3px #b61984 inset;
  color: #b61984;
}

.registered-form {
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.registered-form h3 {
  padding: 2rem;
  text-align: center;
  font-size: 2.75rem;
  font-weight: 700;
}

.form-background.bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
}
.form-background.bottom img {
  width: 100%;
  height: auto;
}

footer {
  background-image: url(../img/footer_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: white;
}

.footer-content > div {
  opacity: 0;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.footer-content {
  padding-top: 3rem;
  padding-bottom: 9rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
}
@media screen and (max-width: 991.98px) {
  .footer-content {
    grid-template-columns: 1fr 1fr;
  }
}
.footer-content h3 {
  padding: 3rem 0;
}
.footer-content li {
  margin-bottom: 1rem;
  list-style: none;
}
.footer-content .social-list {
  margin-left: -0.5rem;
}
.footer-content .social-list ul {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  list-style: none;
}
.footer-content .social-list ul li {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.footer-content .social-list ul a {
  color: white;
  transition: 0.25s;
}
.footer-content .social-list ul a:hover {
  color: black;
}
.footer-content .social-list ul {
  justify-content: flex-start;
}

.quick-links li,
.about li {
  margin: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #9b0172;
}
.quick-links a,
.about a {
  text-decoration: none;
  color: white;
}
.quick-links a:hover,
.about a:hover {
  color: #e6e6e6;
}

.newsletter input {
  outline: none;
  border: none;
  display: flex;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  width: 100%;
  padding: 1rem;
  background-color: #b61984;
  border-color: #9b0172;
  border-radius: 1000px;
  text-align: center;
  color: white;
  transition: 0.5s;
}
.newsletter input::placeholder {
  color: white;
}
.newsletter input:focus {
  border-color: white;
}
.newsletter button {
  width: 100%;
  padding: 1rem;
  border-radius: 1000px;
  box-shadow: 0 0 0 300px white inset;
  color: #b61984;
  transition: 0.75s;
}
.newsletter button:hover {
  box-shadow: 0 0 0 3px white inset;
  color: white;
}/*# sourceMappingURL=main.css.map */