/* @media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto;
  }
} */

.cursor-pointer {
  cursor: pointer;
}

label {
  padding: 0 0.75rem;
}

.modal-header,
.modal-body,
.modal-footer {
  padding: 1rem 3rem;
}

.edit-btn,
.action .delete-btn {
  display: inline-block;
}
.delete-btn,
.action .edit-btn {
  display: none;
}

#loading-screen {
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1051;
}
.spinner-border {
  width: 5rem;
  height: 5rem;
}

.notice-span {
  display: inline-block;
  padding: 0 0.75rem;
  margin-top: 0.5rem;
  font-size: 0.75rem;
}
