#container {
  min-width: 310px;
  max-width: 800px;
  height: 400px;
  margin: 0 auto;
}
.cursor {
  cursor: pointer;
}
.update-btn {
  display: block;
}
.swap .update-btn {
  display: none;
}
.delete-btn {
  display: none;
}
.swap .delete-btn {
  display: block;
}

#loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 2000;
}
