@mixin button($color, $box-shadow) {
    border-radius: 1000px;
    box-shadow: 0 0 0 300px $box-shadow inset;
    color: $color;
    transition: 0.75s;
    &:hover {
        box-shadow: 0 0 0 3px $box-shadow inset;
        color: $box-shadow;
    }
}
