@mixin form-style {
    display: flex;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid $color-03;
}

@mixin form-icon {
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.55rem;
    color: $logo-color;
}
