@mixin little-circle($bottom, $opacity) {
    content: "";
    position: absolute;
    bottom: $bottom;
    opacity: $opacity;
    background-color: $logo-color;
    @content;
    transition: 0.5s;
}
