@mixin social-list($default, $hover) {
    ul {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        list-style: none;
    }
    ul li {
        display: flex;
        align-items: center;
        padding: 0.5rem;
    }
    ul a {
        color: $default;
        transition: 0.25s;
        &:hover {
            color: $hover;
        }
    }
}
